/*CONTAINER*/
#container {
    display: flex;
    flex-flow: row wrap;
	margin: 10px 0px 10px 2px;
}

/*BOXES*/
.box:hover {
	opacity: 0.9;
	cursor: pointer;
}
.box {
    margin: 8px;
    padding: 20px;
	min-width: 400px;
	background: white;
	border-radius: var(--main-border-radius);
	box-shadow: var(--main-shadow);
    flex: 1; 
}
h2, .div_icon {
    text-align: center;
}
.div_icon i {
	font-size: 60px;
}
.border {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #8F8F8F;
}

/*TAGS*/
section {
	display: flex;
	flex-direction: column;
}
section > p {
	margin-bottom: auto;
}
.tags_container {
	margin-top: 8px;
}
.tag {
	font-size: small;
	color: dimgray;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
}
.r .tag {
	border: solid 1px var(--main-color-1);
}
.g .tag {
	border: solid 1px var(--main-color-2);
}
.b .tag {
	border: solid 1px var(--main-color-3);
}
.o .tag {
	border: solid 1px var(--main-color-4);
}
.r .fa {
	color: var(--main-color-1);
}
.g .fa {
	color: var(--main-color-2);
}
.b .fa {
	color: var(--main-color-3);
}
.o .fa {
	color: var(--main-color-4);
}
/*DATE TAG*/
.date_tag {
	font-size: small;
	color: dimgray;
	margin-top: 5px;
	float: right;
}