/*BACKGROUND & CONTAINER*/
#modal, #modal_aboutme, #modal_terms {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 110px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*CLOSE BUTTONS*/
#x, #x_aboutme, #x_terms {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding-top: 10px;
}

#x:hover,
#x:focus,
#x_aboutme:hover,
#x_aboutme:focus,
#x_terms:hover,
#x_terms:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

/*MODAL CONTENT*/
.modal_content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 15px solid dimgray;
	border-top: 40px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: var(--main-border-radius);
	width: 600px;
}
.modal_header {
    padding: 2px 10px;
	height: 60px;
    background-color: dimgray;
    color: white;
}

.modal_body {
	height: 400px;
	margin: 10px;
}

/*HEADER: MAIL MODAL*/
.modal_body #subject, 
.modal_body #email {
	width: 565px;
}
.modal_body #send {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#modal_note{
    padding-top: 150px;
    text-align: center;
}
.fa-spinner {
	color: dimgray;
	font-size: 50px!important;
}
.fa-envelope-o {
	color: dimgray;
	font-size: 60px!important;
	padding-bottom: 10px;
}

/*FOOTER: ABOUTME & TERMS MODAL*/
.modal_body textarea{
	width: 565px;
	height: 250px;
	resize: none;
}
#modal_body_aboutme, #modal_body_terms{
	width: 573px;
	height: 393px;
	padding-right: 8px;
	overflow: auto;
}
#modal_body_aboutme p {
	margin-bottom: 0px;
}
.modal_table, .modal_table th, .modal_table td {
    border: 1px solid dimgray;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
}

.modal_table th, .modal_table td {
	padding: 1px 0px 3px 5px;
	width: 200px;
}
caption h3 {

	margin-bottom: 8px;
}
.tag {
	font-size: small;
	color: dimgray;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
}
.r.tag {
	border: solid 1px var(--main-color-1);
}
.g.tag {
	border: solid 1px var(--main-color-2);
}
.b.tag {
	border: solid 1px var(--main-color-3);
}
.o.tag {
	border: solid 1px var(--main-color-4);
}